{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },

  "rules": {
    "camelcase": 1,
    "dot-notation": 1,
    "no-unused-vars": 0,
    "no-undef": 1,
    "curly": [1, "all"],
    "indent": [1, 4, {"SwitchCase": 1}]
  }
}
